class CreateAssetCoreTables < ActiveRecord::Migration[7.0]
  def up

    create_table :asset_core_records, force: :cascade do |t|
      #relationships
      t.references :asset, polymorphic: true, index: true
      t.references :model, index: true
      t.references :organization, polymorphic: true, index: true
      t.references :parent, index: true
      t.references :manufacturer, polymorphic: true, index: true

      #core fields
      t.string :name
      t.text :description
      t.string :number
      t.string :tag_number

      #functionality fields
      t.string :state
      t.datetime :registered_at
      t.datetime :discharged_at

      #helper fields
      t.jsonb :data

      t.string :type
      t.datetime :deleted_at
      t.timestamps
    end

    create_table :asset_core_models, force: :cascade do |t|
      #relationships
      t.references :organization, polymorphic: true, index: true

      #core fields
      t.string :name
      t.string :number
      t.text :description

      #functionality fields
      t.string :state

      #helper fields
      t.jsonb :data

      t.string :type
      t.datetime :deleted_at
      t.timestamps
    end

    create_table :asset_core_record_hierarchies, id: false do |t|
      t.integer :ancestor_id, null: false
      t.integer :descendant_id, null: false
      t.integer :generations, null: false
    end

    # create_table :asset_core_record_entries, force: :cascade do |t|
    #   t.references :record, index: true
    #   t.references :entry, index: true
    #   t.boolean :active, default: true
    #   t.string :type
    #   t.datetime :deleted_at
    #   t.timestamps
    # end

    create_table :asset_core_entries, force: :cascade do |t|
      t.references :record, index: true
      t.references :reference, polymorphic: true, index: true
      t.references :previous_entry, index: true
      t.references :action, polymorphic: true, index: true

      #core field
      t.string :number
      t.text :description
      t.string :state
      t.datetime :rejected_at
      t.datetime :approved_at
      t.datetime :effective_at
      t.boolean :use_reference_data, default: false

      t.text :remark
      t.boolean :initial, default: false
      t.boolean :batch, default: false

      t.jsonb :data, default: {}
      t.jsonb :metadata, default: {}
      t.string :type
      t.datetime :deleted_at
      t.timestamps
    end

    create_table :asset_core_states, force: :cascade do |t|
      t.references :record, index: true
      t.references :previous_state, index: true
      t.references :reference, polymorphic: true, index: true
      t.references :action, polymorphic: true, index: true

      t.string :name
      t.string :label

      t.string :state
      t.datetime :rejected_at
      t.datetime :approved_at
      t.datetime :effective_at
      t.boolean :use_reference_data, default: false

      t.text :remark
      t.boolean :initial, default: false
      t.jsonb :data, default: {}
      t.jsonb :metadata, default: {}
      t.string :type
      t.datetime :deleted_at
      t.timestamps
    end

    create_table :asset_core_generics, force: :cascade do |t|
      t.string :name
      t.text :description
      t.string :type
      t.datetime :deleted_at
      t.timestamps
    end

    # execute <<-SQL
    #   CREATE OR REPLACE VIEW asset_core_combined_entries AS
    #     SELECT e.*, re.record_id AS combined_record_id
    #     FROM asset_core_entries e
    #     JOIN asset_core_record_entries re ON e.id = re.entry_id

    #     UNION

    #     SELECT e.*, e.record_id AS combined_record_id
    #     FROM asset_core_entries e
    #     WHERE e.record_id IS NOT NULL;
    # SQL

    # create_table :asset_core_purchases, force: :cascade do |t|
    #   t.references :entry, index: true
    #   t.references :reference, polymorphic: true, index: true

    #   #core field
    #   t.string :supplier_name
    #   t.datetime :date
    #   t.decimal :price, precision: 12, scale: 3, default: 0
    #   t.string :currency
    #   t.text :remark

    #   t.jsonb :metadata, default: {}
    #   t.string :type
    #   t.datetime :deleted_at
    #   t.timestamps
    # end

    # create_table :asset_core_depreciations, force: :cascade do |t|
    #   t.references :entry, index: true
    #   t.references :reference, polymorphic: true, index: true
    #   t.references :source, index: true

    #   #core field
    #   t.string :method, default: "straight_line"

    #   t.integer :expected_lifespan
    #   t.string :expected_lifespan_unit, default: "year"

    #   t.date :start_date
    #   t.string :currency
    #   t.decimal :residual_price, precision: 12, scale: 3, default: 0
    #   t.decimal :depreciation_rate, precision: 12, scale: 3, default: 0


    #   t.jsonb :metadata, default: {}
    #   t.string :type
    #   t.datetime :deleted_at
    #   t.timestamps
    # end


  end

  def down
    drop_table :asset_core_records
    drop_table :asset_core_models
    drop_table :asset_core_record_hierarchies
    #drop_table :asset_core_record_entries
    drop_table :asset_core_entries
    drop_table :asset_core_states
    drop_table :asset_core_generics

    execute "DROP VIEW IF EXISTS asset_core_combined_entries;"
  end
end